.avatar {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  object-fit: cover;
}

.info-margin{
  margin-left: 30px;
  margin-top: 10px;
}

.on-click{
  cursor: pointer;
}

.arrow-style{
  margin-left: 10px;
  font-size: 2rem;
}

.page-padding{
  padding-top: 100px;
}
