<div class="page-padding">
<div>
  <mat-icon class="arrow-style on-click"  matTooltip="Go Back To List" (click)="goToList()">arrow_back</mat-icon>
</div>
<div class="info-margin">
  <div>
    <img [src]="user?.avatar" class="avatar" alt="User Avatar">
  </div>
  <div>
    <h2>User Information</h2>
  </div>
  <div>
    Name: {{user?.first_name +' '+user?.last_name}}
  </div>
  <div>
    Email: {{user?.email}}
  </div>
</div>
</div>
<mat-progress-bar mode="indeterminate" *ngIf="!user"></mat-progress-bar>
